
body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #d6dded41;
    
}



.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* Header style */
.bg-img{
    
    background-image: url(../Assets/Hero-bg.png);
    height: 100vh;
    max-width: auto;
    display: flex;
    background-size: cover;
    background-size: contain;
    background-position: center;
    flex-direction: column;
    


}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.logo{
    font-weight: 800;
    font-size: 34px;
    
    
}
/* button style */
.Hover:hover{
    background-color: cadetblue;
}

.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 18px 35px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button-Focused{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-launch{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 35px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
.btn-get-in-touch{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 277px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

/* share style */

.text-primary{
    color: #4E47FF;
} 
/* banner style */
.banner{
    text-align: center;
    font-size: 65px;
    margin-top: auto;
    margin-bottom: auto;
}
.banner h3{
    font-weight: bold;
    color: #1a1a1a;
    margin-bottom: 20px;
}

/* main style */

/* action style */

.action{
    display: flex;
    justify-content: space-between;
    margin: 100px 200px 100px 200px;
    padding: 100px;
}

.action-titel h3{
    font-size: 42px;
    font-weight: bold;
}
.action-titel p{
    font-size: 24px;
    color: #25243296;
}
.action img{
    border-radius: 50px;
}
/* productive-users style */
.productive-users{
    border-radius: 40px;
    max-width: 1140px;
    margin: 100px auto;
    padding: 20px 150px 20px 150px;
}


.productive-users h3{
    font-size: 38px;
    font-weight: bold;
    text-align: center;

}
.bg-color{
    background-color: #4d47ff25;
}
.users-items{
    display: flex;
    justify-content: space-around;
}
.user-item .productive{
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 10px;

}
.user-item .description{
    font-size: 20px;
    color: #0000005f;
    
}
/* touch section style */



.touches{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}

.touch-titel{
    font-size: 97px;
}
.touch-column{
    width: 50%;
    
}
.input-column::placeholder{
    color: #00000062;
    font-size: 20px;
}

.touches input[type="email"], .touches input[type="text"], .touches textarea{
    height: 64px;
    border-radius: 7px;
    background-color: #FFFFFF;
    display: block;
    width: 90%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border-color: #00000022;
}
form label{
    font-size: 18px;
    font-weight: 500;
}
/* footer style */
footer{
    background-color: #FFFFFF;
}
.footer-section{
    text-align: center;
    padding: 130px 230px;
}

.footer-titel{
    font-size: 100px;
    font-weight: 800;
    color: #4E47FF;
}
.footer-description{
    font-size: 20px;
    color: #8987A1;
}
ul li{
    list-style: none;
}
.footer-items{
    display: flex;
    justify-content: center;
    gap: 70px;
}

.footer-items a{
    text-decoration: none;
    color: #8987A1;
}
